/*© Big Red Communications Group Pty Ltd 2025. All Rights Reserved.
You may not copy, reproduce or communicate any of the contents of this file without the permission of the copyright owner.*/
* {
	padding: 0;
	margin: 0;
	-webkit-transform: translate3D(0,0,0);
	cursor: pointer;
}

a {
	text-decoration: none;
}

#theCanvas {
	width: 300px;
	height: 600px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #002855;
}

#the_keyline {
	position:absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #000000;
	padding: 0px;
	height: 600px;
	width: 300px;
	box-sizing: border-box;
}

#the_blind {
	position:absolute;
	top: 1px;
	left: 1px;
	width: 298px;
	height: 598px;
	background: #002855;
	z-index: 3;
}

#logo_hostplus_afl {
	position: absolute;
    top: 0px;
    left: 121px;
    width: 176px;
    height: 85px;
}

/*FRAME 1*/

#copy1_f1_mask {
	position: absolute;
	top: 138px;
	left: 15px;
    width: 216px;
    height: 54px;
	overflow: hidden;
}

#copy1_f1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 216px;
	height: 54px;
}

#copy2_f1_mask {
	position: absolute;
	top: 200px;
	left: 15px;
	width: 257px;
	height: 80px;
	overflow: hidden;
}

#copy2_f1 {
	position: absolute;
	top: 0;
	left: 0;
    width: 257px;
    height: 80px;
}

.logo_canstar {
	position: relative;
    top: 233px;
    left: 2px;
/*    width: 67px;
    height: 72px;
    padding: 0.25em 0em 0.25em 0em;*/
/*    transform-origin: center 50px;    */
    width: 66px;
    height: auto;
    padding: 0.25em 0.15em 0.25em 0.15em;
    transform-origin: center 47px;    

}

/*FRAME 2*/

#copy1_f2_mask {
	position: absolute;
	top: 138px;
	left: 15px;
	width: 243px;
	height: 24px;
	overflow: hidden;
}

#copy1_f2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 243px;
	height: 24px;
}

#copy2_f2_mask {
	position: absolute;
	top: 169px;
	left: 18px;
    width: 216px;
    height: 36px;
	overflow: hidden;
}

#copy2_f2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 216px;
	height: 36px;
}

#imgBall {
	position: absolute;
	top: 352px;
	left: 68px;
}

#imgGoalposts {
	position: absolute;
	top: 368px;
	left: 36px;
	width: 232px;
	height: 135px;
}

#copy2_mask {
	position: absolute;
	top: 137px;
	left: 17px;
	width: 166px;
	height: 28px;
	overflow: hidden;
}

#copy2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 166px;
	height: 28px;
}

#copy3_mask {
	position: absolute;
	top: 170px;
	left: 15px;
	width: 265px;
	height: 59px;
	overflow: hidden;
}

#copy3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 265px;
	height: 59px;
}

#copy5 {
    position: absolute;
    bottom: 283px;
    left: 15px;
    width: 137px;
    height: 57px;
}

#logo_canstar_large {
	position: absolute;
	top: 348px;
    left: 8px;
    width: 153px;
    height: 171px;
}

#copy_terms {
    position: absolute;
    bottom: 13px;
    left: 15px;
    z-index: 2;
}

#terms_panel {
	position: absolute;
    top: 601px;
    left: 1px;
    width: 298px;
    height: 598px;
	background: #002855;
	z-index: 3;
}

#btn_cta {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 175px;
    height: 33px;
    background: #FFD000;
}

#cta_label {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 175px;
    height: 33px;
    pointer-events: none;
}

.img_svg {
	background-color: rgba(0,0,0,0);
}