* {
  margin: 0;
}

#banner {
  width: 160px;
  height: 600px;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #5f5f5f;
  background-color: #002855;
}

.asset {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  z-index: 1;
}


.retina {
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.block {
  display: block;
}

#logo {
  top: -2px;
  left: 3px;
  width: 140px;
  height: auto;
}

#copy1-cont {
  width: 0px;
  height: 80px;
  left: 17px;
  top: 120px;
  overflow: hidden;
}

#copy1 {
  left: 0px;
  top: 5px;
}

#copy2-cont {
  width: 135px;
  height: 76px;
  left: 15px;
  top: 177px;
  overflow: hidden;
}

#copy2 {
  left: 0px;
  top: 2px;
}

#copy3-cont {
  width: 128px;
  height: 90px;
  left: 15px;
  top: 255px;
  overflow: hidden;
}

#copy3 {
  left: 0px;
  top: 0px;
}

#copy4-cont {
  width: 140px;
  height: 105px;
  left: 16px;
  top: 342px;
  overflow: hidden;
}

#copy4-1 {
  left: 0px;
  top: 0px;
}

#copy4-2 {
  left: -17px;
  top: -330px;
  opacity: 0;
}

#banner-hover {
  width: 160px;
  height: 600px;
  background-color: red;
  opacity: 0;
}

#terms{ 
  /*top: 519px;
  left: 6px;*/

  top: 0px;
  left: 0px;
}

#blue-mask {
  width: 137px;
  height: 29px;
  background-color: #002855;
  opacity: 0;
}


#cta,
#cta-white {
  width: 126px;
  height: 23px;
  left: 15.5px;
  top: 412px;
  border: 1px solid white;
  /* z-index: 999; */
}

#cta-white {
  background-color: white;
  display: block;
  opacity: 0;
}

#cta1,
#cta2 {
  left: 17.5px;
  top: 7px;
  height: auto;
  width: 85px;
}

#cta2 {
  display: block;
  opacity: 0;
}

#cta1-arrow,
#cta2-arrow {
  left: 111px;
  top: 6.5px;
  height: 10px;
  width: auto;
}

#cta2-arrow {
  display: block;
  opacity: 0;
}