/*© Big Red Communications Group Pty Ltd 2025. All Rights Reserved.
You may not copy, reproduce or communicate any of the contents of this file without the permission of the copyright owner.*/
* {
	padding: 0;
	margin: 0;
	-webkit-transform: translate3D(0,0,0);
	cursor: pointer;
}

a {
	text-decoration: none;
}

#theCanvas {
	width: 970px;
	height: 250px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #002855;
}

#the_keyline {
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid #000000;
	padding:0px;
	height:250px;
	width:970px;
	box-sizing:border-box;
}

#the_blind {
	position:absolute;
    top: 1px;
    left: 1px;
    width: 968px;
    height: 248px;
	background: #002855;
	z-index: 3;
}

#logo_hostplus_afl {
	position: absolute;
    top: -4px;
    left: 716px;
    width: 250px;
    height: 120px;
}

/*FRAME 1*/

#copy1_f1_mask {
	position: absolute;
	top: 50px;
	left: 15px;
    width: 216px;
    height: 54px;
	overflow: hidden;
}

#copy1_f1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 216px;
	height: 54px;
}

#copy2_f1_mask {
	position: absolute;
	top: 112px;
	left: 14px;
	width: 255px;
	height: 80px;
	overflow: hidden;
}

#copy2_f1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 255px;
	height: 80px;
}

.logo_canstar {
	position: relative;
    top: 17px;
    left: 287px;
    width: 83px;
    height: 89px;
    padding: 0.5em 0.45em 0.5em 0.45em;
    transform-origin: center 65px;
}

/*FRAME 2*/

#copy1_f2_mask {
	position: absolute;
	top: 51px;
	left: 15px;
	width: 243px;
	height: 24px;
	overflow: hidden;
}

#copy1_f2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 243px;
	height: 24px;
}

#copy2_f2_mask {
	position: absolute;
	top: 83px;
	left: 18px;
    width: 216px;
    height: 36px;
	overflow: hidden;
}

#copy2_f2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 216px;
	height: 36px;
}

#imgGoalposts {
    position: absolute;
    top: 50px;
    left: 371px;
}

#imgBall {
    position: absolute;
    top: 50px;
    left: 408px;	
}

#copy2_mask {
	position: absolute;
	top: 38px;
	left: 17px;
	width: 164px;
	height: 23px;
	overflow: hidden;
}

#copy2 {
	position: absolute;
	top: 0;
	left: 0;
    width: 164px;
    height: 23px;	
}

#copy3_mask {
	position: absolute;
	top: 71px;
	left: 15px;
	width: 343px;
	height: 77px;
	overflow: hidden;
}

#copy3 {
	position: absolute;
	top: 0;
	left: 0;
    width: 343px;
    height: 77px;	
}

#copy4, #copy5 {
    position: absolute;
    bottom: 41px;
    left: 16px;
    width: 241px;
    height: 25px;
}

#logo_canstar_large {
	position: absolute;
    top: 27px;
    left: 425px;
    width: 199px;
    height: 222px;
}

#copy_terms {
    position: absolute;
    top: 225px;
    right: 15px;
    z-index: 2;
}

#terms_panel {
	position: absolute;
	top: 251px;
    left: 1px;
    width: 968px;
    height: 248px;
	background: #002855;
	z-index: 3;
}

#btn_cta {
    position: absolute;
    bottom: 41px;
    right: 15px;
    width: 175px;
    height: 33px;
    background: #FFD000;
}

#cta_label {
    position: absolute;
    bottom: 41px;
    right: 15px;
    width: 175px;
    height: 33px;
    pointer-events: none;
}

.img_svg {
	background-color: rgba(0,0,0,0);
}