:root {
  /* colour css variables*/
  --color-yellow: #F7941D;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #CCCCCC;

  /*  Animation css variables*/
  --text-01-duration: 1.1s;
  --text-01-start: 0.7s;
  --text-01-step: 0.0s;
  --text-01-offset-distance: translateX(126px);

  --text-02-duration: 1.2s;
  --text-02-start: 1.15s;
  --text-02-step: 0.0s;
  --text-02-offset-distance: translateX(-120px);

  /* --text-easing: cubic-bezier(0, 0.65, 0.5, 1); */

  --text-easing: cubic-bezier(0, 1, 1, 1);

  --divider-start: 0.2s;
  --divider-duration: 0.7s;
  --divider-ease: cubic-bezier(0.68, 1.1, 0.32, 1.15);

  --divider-transform-start: skewX(26deg) translateX(30px) scale(0);
  --divider-transform-end:   skewX(0deg)  translateX(0px) scale(1);

  --mask-start: 0.2;
  --mask-duration: 0.4s;
  --mask-easing: linear;
}

/* Define color themes */

.yellow {
  --text-color: var(--color-yellow);
}

.black {
  --text-color: var(--color-black);
}

.gray {
  --text-color: var(--color-gray);
}

.white {
  --text-color: var(--color-white);
}

/* Zieger text */

.text_01_characters {
  fill: var(--text-color);
  transform: var(--text-01-offset-distance);
  animation: moveText01 var(--text-01-duration) forwards var(--text-easing);
}

/* Bailey text */
.text_02_characters {
  fill: var(--text-color);
  transform: var(--text-02-offset-distance);
  animation: moveText02 var(--text-02-duration) forwards var(--text-easing);
}

/* Auto-stagger text_01 by order */
#text_01_inner > .text_01_characters {
  animation-delay: calc(var(--text-01-start) + var(--text-01-step) * (var(--n, 0)));
}

/* Auto-stagger text_01 by order */
#text_02_inner > .text_02_characters {
  animation-delay: calc(var(--text-02-start) + var(--text-02-step) * (var(--n, 0)));
}

#text_01_01 { --n: 0; }
#text_01_02 { --n: 1; }
#text_01_03 { --n: 2; }
#text_01_04 { --n: 3; }
#text_01_05 { --n: 4; }
#text_01_06 { --n: 5; }
#text_01_07 { --n: 6; }

/* Reverse-order stagger for text_02 */
#text_02_01 { --n: 5; }
#text_02_02 { --n: 4; }
#text_02_03 { --n: 3; }
#text_02_04 { --n: 2; }
#text_02_05 { --n: 1; }
#text_02_06 { --n: 0; }

/* Divider */
#divider {
  transform-origin: center;
}

.dividerPath {
  fill: var(--text-color);
}

#clipPath_divider_01_A {
  transform-origin: center;
  transform: scaleY(0);
  animation: maskIn var(--mask-duration) forwards var(--mask-easing);
  animation-delay: var(--mask-start);
}

/* Keyframe */
@keyframes moveText01 { to { transform: translateX(0); } }
@keyframes moveText02 { to { transform: translateX(0); } }
@keyframes maskIn { to { transform: scaleY(1); } }