/*© Big Red Communications Group Pty Ltd 2025. All Rights Reserved.
You may not copy, reproduce or communicate any of the contents of this file without the permission of the copyright owner.*/
* {
	padding: 0;
	margin: 0;
	-webkit-transform: translate3D(0,0,0);
	cursor: pointer;
}

a {
	text-decoration: none;
}

#theCanvas {
	width: 970px;
	height: 250px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #002855;
}

#the_keyline {
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid #000000;
	padding:0px;
	height:250px;
	width:970px;
	box-sizing:border-box;
}

#the_blind {
	position:absolute;
	top: 1px;
	left: 1px;
	width:968px;
	height:248px;
	background: #002855;
	z-index: 3;
}

#logo_hostplus {
	position: absolute;
    top: 15px;
    right: 15px;
    width: 178px;
    height: 73px;
}

#copy_terms {
    position: absolute;
    bottom: 13px;
    right: 18px;
    z-index: 2;
    width: 68px;
    height: 10px;
}

#terms_panel {
	position: absolute;
    top: 251px;
    left: 1px;
    width: 968px;
    height: 248px;
	background: #002855;
	z-index: 3;
}

/*FRAME 1*/

#time1 {
	position: absolute;
	top: 71px;
    left: 83px;
    width: 52px;
    height: 44px;
    -moz-transform-origin: 0px 125%;
    -ms-transform-origin: 0px 125%;
    -o-transform-origin: 0px 125%;    
    transform-origin: 0px 125%;	
}

#time2, #clockBase, #bigHand, #smallHand {
	position: absolute;
    top: 71px;
    left: 29px;
    width: 105px;
    height: 108px;
}

#timeArrow {
	position: absolute;
    top: 121px;
    left: 82px;
    width: 58px;
    height: 62px;
    transform: rotate(360deg);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;    
    transform-origin: top left;
}

#copy1_mask {
	position: absolute;
	top: 63px;
	left: 168px;
	width: 535px;
	height: 38px;
	overflow: hidden;
}

#copy1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 535px;
	height: 38px;
}

#copy2_mask {
	position: absolute;
	top: 108px;
	left: 166px;
	width: 340px;
	height: 79px;
	overflow: hidden;
}

#copy2 {
	position: absolute;
	top: 0;
	left: 0;
    width: 340px;
    height: 79px;
}

#hand, #dollarSign {
	position: absolute;
    top: 41px;
    left: 15px;
    width: 71px;
    height: 54px;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

/*FRAME 2*/

#laptopHead {
	position: absolute;
    top: 86px;
    left: 29px;
    width: 105px;
    height: 70px;
	clip-path: polygon(0 94%, 100% 94%, 98% 100%, 4% 100%);
	background: #b2becc;	  
}

#laptopScreen {
	position: absolute;
    top: 92px;
    left: 35px;
    width: 93px;
    height: 58px;
	clip-path: polygon(0 94%, 100% 94%, 98% 100%, 4% 100%);
	background: #7F93AA;	  
}

#laptopBaseTop {
	position: absolute;
    top: 72px;
    left: 15px;
    width: 77px;
    height: 3px;
    background: #4C6888;
    clip-path: polygon(4px 0%, 74px 0%, 100% 100%, 0% 100%);
}

#laptopBase {
	position: absolute;
    top: 156px;
    left: 24px;
    width: 116px;
    height: 12px;
}

#copy3_mask {
	position: absolute;
	top: 62px;
	left: 165px;
	width: 315px;
	height: 82px;
	overflow: hidden;
}

#copy3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 315px;
	height: 82px;
}

#copy4_mask {
	position: absolute;
	top: 151px;
	left: 166px;
	width: 322px;
	height: 38px;
	overflow: hidden;
}

#copy4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 322px;
    height: 38px;
}

/*FRAME 3*/

#icon {
	position: absolute;
    top: 85px;
    left: 26px;
    width: 112px;
    height: 84px;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}

#copy5_mask {
	position: absolute;
	top: 62px;
	left: 165px;
	width: 428px;
	height: 87px;
	overflow: hidden;
}

#copy5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 428px;
	height: 87px;
}

#copy6_mask {
	position: absolute;
	top: 152px;
	left: 166px;
	width: 214px;
	height: 35px;
	overflow: hidden;
}

#copy6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 214px;
    height: 35px;
}

#copy_disclaimer {
	position: absolute;
	top: 0;
	left: 0;
	width: 970px;
	height: 250px;
}

/*FRAME 4*/

#copy7_mask {
	position: absolute;
	top: 57px;
	left: 178px;
	width: 436px;
	height: 35px;
	overflow: hidden;
}

#copy7 {
	position: absolute;
	top: 0;
	left: 0;
    width: 436px;
    height: 35px;
}

#copy8_mask {
	position: absolute;
	top: 103px;
	left: 178px;
	width: 441px;
	height: 35px;
	overflow: hidden;
}

#copy8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 441px;
    height: 35px;
}

#copy9 {
    position: absolute;
    bottom: 40px;
    left: 177px;
    width: 319px;
    height: 36px;
}

#checkbox {
	position: absolute;
	top: 24px;
    left: 37px;
    width: 124px;
    height: 119px;
}

#btn_cta {
    position: absolute;
    bottom: 41px;
    right: 17px;
    width: 116px;
    height: 33px;
    background: #FFD000;
}

#cta_label {
    position: absolute;
    bottom: 41px;
    right: 17px;
    width: 116px;
    height: 33px;
    pointer-events: none;
}

.img_svg {
	background-color: rgba(0,0,0,0);
}