body {
filter: invert(1) hue-rotate(180deg);
background: #000;
}

/* Restore images */
img {
filter: invert(1) hue-rotate(180deg);
}






body {
background: #000000!important;

}

table,


p {
color: #FFFFFF!important;
}

div {
color: #FFFFFF!important;
}

a {
color: #FFFFFF!important;
}

td:not(.no-dark-mode) {
/* styles here */
color: #FFFFFF!important;
}

color: #FFFFFF!important;